@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply font-poppins;
}

.hero{
    @apply text-primary font-bold text-6xl;
}

.hero:hover {
   color: transparent; 
   -webkit-text-stroke: 1px #00040f;
   cursor: pointer;
}